<h1>Listing coms</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coms.each do |com| %>
      <tr>
        <td><%= com.post_id %></td>
        <td><%= com.body %></td>
        <td><%= link_to 'Show', com %></td>
        <td><%= link_to 'Edit', edit_com_path(com) %></td>
        <td><%= link_to 'Destroy', com, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Com', new_com_path %>
