<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @com.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @com.body %>
</p>

<%= link_to 'Edit', edit_com_path(@com) %> |
<%= link_to 'Back', coms_path %>
